[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"jinja2" = "==2.10"
weasyprint = "*"
click = "*"

[dev-packages]
behave = "*"
ipdb = "*"

[requires]
python_version = "3.7"
