  @page {
      size: A4;
      margin: 1cm;
  }

  .slabo {
    font-family: 'Slabo 27px', serif;
  }

  .nameHeader {
    text-align: center;
    margin-bottom: 5px;
    border-style: dotted;
    border-color: #C25B56;
  }

  .name {
    font-size: 70px;
    margin: 0px;
    padding: 0px;
  }

  .func {
    font-size: 20px;
    display: inline;
  }

  .info {
    margin: 30px;
    display: inline;
    text-align: center;
  }

  .addr {
    text-align: center;
    padding: 20px;
    float: right;
    border-style: double;
    border-color: #C25B56;
    margin-top: 20px;
  }

  .verticalLine {
    border-left: thick solid #C25B56;
  }

  .horizontalLine {
    border-bottom: thick solid #C25B56;
    margin: 5px;
    width: 44%;
  }

  .fa-caret-right {
    color: #C25B56;
  }

  .fa-circle{
      color: #C25B56;
  }

  table, tr, td, th {
    padding: 0px;
    margin: 0px;
  }
