<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>{{name}}</h1>
        <h3>{{function}}</h3>
        <h4>{{k_contact}}</h4>
        {{phone}}<br>
        {{email}}<br>
        {{address}}<br>
        {{portfolio}}<br>
        <h4>{{k_education}}</h4>
        {% for g in education %}
            {{g[0]}}<br>
            {{g[1]}}<br>
            {{g[2]}}<br>
            <br>
        {% endfor %}
        <h4>{{k_experience}}</h4>
        {% for j in experience %}
            {{j[0]}}<br>
            {{j[1]}}<br>
            {{j[2]}}<br>
        <br>
        {% endfor %}
        <h4>{{k_skills}}</h4>
        {% for x,y in skills %}
            {{x}}: {{y}} <br>
        {% endfor %}
        <h4>{{k_languages}}</h4>
        {% for x,y in languages %}
            {{x}}: {{y}} <br>
        {% endfor %}
    </body>
</html>
